rabbits_env
soft_env
.stamps
*.save
cscope.*

platforms/roger/logCPUs
platforms/roger/objs/
platforms/roger/run.x
platforms/roger/soft/.stamps/
platforms/roger/soft/busybox/busybox-1.12.1.tar.bz2
platforms/roger/soft/busybox/busybox-1.12.1/
platforms/roger/soft/busybox/logs/
platforms/roger/soft/initrd/initrd.gz
platforms/roger/soft/initrd/rootfs_dir/
platforms/roger/soft/linux/linux/
platforms/roger/soft/linux/linux.asm

rabbits/libs/

rabbits/qemu/logs/
rabbits/qemu/qemu-0.9.1/

rabbits/tools/ramdac/build/
rabbits/tools/ramdac/src/xramdac.o
rabbits/tools/ramdac/xramdac
rabbits/tools/tty_term_rw
rabbits/tools/xramdac
rabbits/tools/xterm_rw/tty_term_rw
rabbits/tools/xramdac
rabbits/tools/chronograph
rabbits/tools/chronograph_src/chronograph.o
rabbits/tools/chronograph_src/chronograph
rabbits/tools/chronograph_src/deps.mak

